* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman";
    padding: 10px;
    background-image: url("images/parallax.jpg");
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: lavender;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: lavenderBlush;
    color: black;
}
.currentPage a{
  background-color: thistle;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 60%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 40%;

    padding-left: 20px;

}

.image {

  width: 50px;
  height:50px;
}

.parallax {
  background-image: url("images/parallax.jpg");
  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add a card effect for articles */
.card {
    background-color: Lavender;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: Lavender;
    margin-top: 20px;
    margin-bottom:20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
